In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("impact_analysis_result.csv")

In [6]:
df.sort_values(["product_id", "date"])

,product_id,name,category,price,date,sales_volume,revenue,inventory_level,customer_engagement,data_source,retrieval_timestamp,impact_score
0,PROD0001,T-Shirt,Clothing,152.19,2024-11-01,1,152.19,990,0.2,simulator,2025-12-14 13:18:45.924113,0.081
50,PROD0001,T-Shirt,Clothing,152.19,2024-11-02,3,456.57,970,0.6,simulator,2025-12-14 13:18:45.924113,0.242
100,PROD0001,T-Shirt,Clothing,152.19,2024-11-03,1,152.19,990,0.2,simulator,2025-12-14 13:18:45.924113,0.081
150,PROD0001,T-Shirt,Clothing,152.19,2024-11-04,0,0.00,1000,0.0,simulator,2025-12-14 13:18:45.924113,0.000
200,PROD0001,T-Shirt,Clothing,152.19,2024-11-05,0,0.00,1000,0.0,simulator,2025-12-14 13:18:45.924113,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...
1299,PROD0050,Remote Car,Toys & Games,90.97,2024-11-26,1,90.97,990,0.2,simulator,2025-12-14 13:18:45.924113,0.072
1349,PROD0050,Remote Car,Toys & Games,90.97,2024-11-27,4,363.88,960,0.8,simulator,2025-12-14 13:18:45.924113,0.289
1399,PROD0050,Remote Car,Toys & Games,90.97,2024-11-28,0,0.00,1000,0.0,simulator,2025-12-14 13:18:45.924113,0.000
1449,PROD0050,Remote Car,Toys & Games,90.97,2024-11-29,0,0.00,1000,0.0,simulator,2025-12-14 13:18:45.924113,0.000
1499,PROD0050,Remote Car,Toys & Games,90.97,2024-11-30,3,272.91,970,0.6,simulator,2025-12-14 13:18:45.924113,0.217